
@{
    ViewBag.Title = "اعلانها";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="@TempData["Class"]">
        <h3>@TempData["Title"]</h3>
        <p>@TempData["Message"]</p>
    </div>
</div>

